<div class="main-navigation">
	<div class="container">
		<nav class="main-navigation__nav">
			<a href="{{ '/' | url }}" class="main-navigation__brand">
				Manuel Alvarado
			</a>

			<div class="main-navigation__menu">
				<a href="{{ '/' | url }}" class="main-navigation__menu-item">
					Inicio
				</a>
				<a href="{{ '/sobre-mi' | url }}" class="main-navigation__menu-item">
					Sobre mí
				</a>
				<a href="{{ '/tutoriales' | url }}" class="main-navigation__menu-item">
					Tutoriales
				</a>
				<a href="{{ '/contacto' | url }}" class="main-navigation__menu-item">
					Contacto
				</a>
			</div> <!-- main-navigation__menu -->
		</nav> <!-- main-navigation__nav -->
	</div> <!-- container -->
</div> <!-- main-navigation -->