---
layout: base.liquid
---
<div class="pagina pagina--markdown">
    <header class="pagina__header">
        <h1 class="pagina__title">{{ titulo }}</h1>
    </header>

    <div class="pagina__contenido">
        {{ content | safe }}
    </div>
</div>